#f0{
    color:white;
    background-color: black;
}
#f1{
    color:white;
    background-color: brown;
}
#f2{
    color:white;
    background-color: red;
}
#f3{
    color:white;
    background-color: orange;
}
#f4{
    color:white;
    background-color: yellow;
}
#f5{
    color:white;
    background-color: green;
}
#f6{
    color:white;
    background-color: blue;

}
#f7{
    color:white;
    background-color: violet;
}
#f8{
    color:white;
    background-color: gold;
}
#f9{
    color:white;
    background-color: silver;
}
#f11{ color:white;
    background-color:grey;
}
#f10{
    color:black;
    background-color: white;
}
